/*改变搜索框选中样式*/
input:focus,textarea:focus {
    outline: none;
    border: 0;
}
/*通用结构部分*/
.body{
	width:2200px;
}
div.content-container{
	width:1600px;
	margin:0 auto;
}
.header{
	min-width:1600px;
	width:100%;
}
.banner{
	height:133px;
}
.navbar-nav li{
	list-style-type:none;
}
.menu{
	width:100%;
}
.section{
	min-width:1600px;
	width:100%;
	background-color: #f9fafc;
}
.section-title{
	width:700px;
	height: 34px;
	font-family: DFHeiW12-GB;
	font-size: 36px;
	font-weight: bold;
	line-height: 33px;
	letter-spacing: 2px;
	margin:0 auto;
	text-align: center;
}
.list-content{
	width:100%;
}

td.list{
	max-width:65%;
	float:left;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
td.date{
	max-width:20%;
	float:right;
	margin-left:10%;
}
.list-content tr{
	width:100%;
}
/*通用结构部分 end */
/* 底部内容 样式s*/
.footer{width:100%;color:#fff;font-family:"Microsoft Yahei";line-height:22px;background-color:#fe751a;font-size: 12px;
  min-width:1600px;
  height:207px;
}
.foot-bot{
	width:1400px;
	margin:0 auto;
}
.footer a{color:#fff;font-family:"Microsoft Yahei";}
.foot-bot .t{height:115px;padding-top:48px;border-bottom:1px solid #fff;}.foot-bot .t a{color:#fff;}
.foot-bot .t>img{float:left;width:110px;}
.foot-bot .t .mid{float:left;margin-left:20px;}
.foot-bot .t .mid span{display:block;}
.foot-bot .t .mid a+a{margin-left:24px;}
.foot-bot .t .right{float:right;}
.foot-bot .t .right img{height:32px;margin-left:17px;}
.foot-bot .b{width:670px;padding-top:16px;}
.foot-bot .b a{margin-left:5px;}
.foot-bot .b a,.foot-bot .b span{color:#fff;white-space:nowrap;margin-right:5px;}
.footer a:hover,.foot-top a:hover span{color:#fff;}
/* 底部 样式end*/
/*======================= 习近平思想学习 ========================*/
/*=== header start ===*/
.banner-learning{
	background: url("../images/bg-banner1.jpg") no-repeat center;
}
.menu-learning{
	height: 60px;
	background-color:#fe751a 
}
ul.learning-nav{
	width:100%;
	padding-top: 27px;
}
ul.learning-nav li{
	width:25%;
	text-align: center;
	height:33px;
}
ul.learning-nav li a{
	font-family: MicrosoftYaHei;
	font-size: 16px;
	line-height:26px;
	letter-spacing: 1px;
	color: #ffffff;
	text-decoration: none;
}
ul.learning-nav li:hover{
	background: url("../images/up-icon.png") no-repeat bottom;
}
ul.learning-nav li.active{
	background: url("../images/up-icon.png") no-repeat bottom;
}
ul.learning-nav li:hover a, ul.learning-nav li.active a{
	color:#ffe508;
}
div.search-section{
	width:100%;
	height:170px;
	background-color:#f5f5f6; 
	padding-top:30px;
}
div.search-bar{
	margin: 0 auto;
	width: 1600px;
	height: 110px;
	background-color: #f0f0f1;
	border: solid 1px #e5e8eb;
}
form.input-form{
	padding-top: 37px;
	padding-left: 100px;
	padding-right: 100px;
}
.input-group{
	width:100%;
}
div.input-box{
	width:1300px;
	height:40px;
	background-color: #ffffff;
	border: solid 1px #e7e7e8;
	float:left;
	z-index:1; 
}
div.input-box .input{
	float:left;
	border:0;
	height:37px;
	width:980px;
	padding-left: 51px;
	color:#999999;
}
i.search-icon{
	position:relative;
	z-index:4; 
	left:54px;
	top:8px;
}
.search-icon img{
	width:19px;
	height:20px;
}
#topic{
	float:left;
	border:0;
	width:215px;
	height:37px;
	background-color: #fff;
}
#topic .caret{
	margin-left:15px;
}
#topic-dropdown{
	width:215px;
}
#topic-dropdown li a{
	line-height:26px;
}
div.divider{
	float:left;
	width:1px;
	height:33px;
	background-color:#f0f0f1;
	margin-top: 2px;
}
#search{
	float:left;
	width: 73px;
	height: 41px;
	background-color:#fe751a; 
	color:white;
}
#search.red{
	background-color: #d00707;
}
/*=== header end ===*/
/*========= 重要讲话 section =========*/
.section-speach{
	padding-top: 55px;
	height:580px;
}
.speach-title{
	color:#fe751a;
}
.speach-content{
	height: 352px;
	margin-top: 80px;
	width:1596px;
	margin-left: auto;
	margin-right: auto;
}
ul#speach-nav-tabs li{
	width: 79px;
	height: 38px;
	background-color: #ffffff;
	border: solid 1px #e2e2e2;
	margin-right: 21px;
	padding:0px;
	text-align: center;
	cursor: pointer;
}
#speach-nav-tabs li a{
	font-family: MicrosoftYaHei-Bold;
	font-size: 18px;
	line-height: 33px;
	letter-spacing: 1px;
	color: #333333;
	text-decoration: none;
}
ul#speach-nav-tabs li.active{
	background-color: #fe751a;	
}
ul#speach-nav-tabs li:hover{
	background-color: #fe751a;
}
ul#speach-nav-tabs li.active a{
	color:white;
}
ul#speach-nav-tabs li:hover a{
	color:white;
}
div.speach-nav{
	height:38px;
}
#speach-tab-content{
	padding-left: 40px;
	padding-top: 50px;
	height:315px;
}
div.speach-pic{
	margin-top:50px;
	float:left;
	width: 243px;
	height: 261px;
	margin-right: 31px;
	background: url("../images/xidada.png") no-repeat center;
}
div.speach-list-box{
	width:600px;
	float:left;
	padding-top: 22px;
}
div.speach-list-box.left-box{
	margin-right: 54px;
}
div.speach-list-box td.list{
	width:488px;
}
div.speach-list-box td.list a, div.speach-list-box td.date {
	font-family: MicrosoftYaHei;
	font-size: 16px;
	line-height: 33px;
	letter-spacing: 1px;
	color: #00173e;
}
/*========= 重要讲话 section end =========*/

/*========= 治国理政活动 section =========*/
div.section-manage{
	background: url("../images/bg-section2.png") no-repeat top;
	padding-bottom: 45px;
	background-color: #f9fafc;;
	height:611px;
	padding-top: 120px;
}
div.manage-content{
	width: 1600px;
	height:500px;
	background-color:#f9fafc; 
	box-shadow: 0px 6px 7px 0px 
		rgba(154, 152, 152, 0.4);
	border: solid 1px #e5e8eb;
	margin-top: 80px;
	padding-left: 40px;
	padding-right:40px;
}
.manage-title{
	color:#fff;
}
ul#manage-nav-tabs{
	width:100%;
	padding-inline-start:0px;
}
ul#manage-nav-tabs li{
	width: 111px;
	height: 39px;
	background-color: #ffffff;
	border: solid 1px #e2e2e2;
	margin-right:20px;
	text-align: center;
}
ul#manage-nav-tabs li a{
	font-family: MicrosoftYaHei-Bold;
	font-size: 18px;
	font-weight:bold;
	line-height: 33px;
	letter-spacing: 1px;
	color: #666666;
	text-decoration: none;
	line-height: 39px;
}
ul#manage-nav-tabs li:hover,ul#manage-nav-tabs li.active {
	background-color: #fe751a;
}
ul#manage-nav-tabs li:hover a, ul#manage-nav-tabs li.active a{
	color:#ffffff;
}
div.manage-nav{
	height:90px;
	padding-top: 50px;
}
#manage-nav-content{
	margin-top: 55px;
}
div.manage-list-box{
	width: 727px;
	height: 192px;
	float:left;
}
div.manage-list-box.left-box{
	margin-right: 63px;
}
div.manage-list-box a, div.manage-list-box{
	font-family: MicrosoftYaHei;
	font-size: 16px;
	line-height: 33px;
	letter-spacing: 1px;
	color: #00173e;
}
/*========= 治国理政活动 section end =========*/
/*========= 思想解读 section =========*/
div.section-interpretation{
	background: url("../images/bg-section1.png") no-repeat center;
	height:582px;
}
.section-interpretation .content-container{
	padding-top:83px;
}
.interpretation-title{
	color: #fe751a;
}
div.interpretation-content{
	padding-top: 91px;
	padding-left: 40px;
	padding-right: 40px;
}
ul#interpretation-nav-tabs{
	width:100%;
	padding-inline-start:0px;
}
ul#interpretation-nav-tabs li{
	width: 111px;
	height: 39px;
	background-color: #ffffff;
	border: solid 1px #e2e2e2;
	margin-right: 20px;
	line-height: 33px;
	text-align: center;
}
ul#interpretation-nav-tabs li a{
	font-family: MicrosoftYaHei-Bold;
	font-size: 18px;
	font-weight:bold;
	line-height: 33px;
	letter-spacing: 1px;
	color:#666666;
	text-decoration: none;
}
ul#interpretation-nav-tabs li:hover, 
ul#interpretation-nav-tabs li.active{
	background-color: #fe751a;
}
ul#interpretation-nav-tabs li:hover a, 
ul#interpretation-nav-tabs li.active a{
	color:#fff;
}
div.interpretation-nav{
	height:40px;
}
#interpretation-nav-content{
	padding-top: 55px;
	height:334px;
}
.interpretation-list-box{
	width: 730px;
	height: 182px;
	float:left;
	line-height: 33px;
}
.interpretation-list-box.left-box{
	margin-right: 50px;
}
.interpretation-list-box, .interpretation-list-box a{
	font-family: MicrosoftYaHei;
	font-size: 16px;
	letter-spacing: 1px;
	color: #00173e;
}
/*========= 思想解读 section end  =========*/
/*======================= 习近平思想学习 end ========================*/

/*==================== 不忘初心牢记使命 start =====================*/
/*=== header start ===*/
.banner-vision{
	background: url("../images/bg-banner3.jpg") no-repeat center;
}
.menu-vision{
	background-color:#c00707;
	height:45px;
}
.menu-vision .content-container{
	height:45px;
}
ul.vision-nav{
	width:100%;
	padding-inline-start:0px;
}
ul.vision-nav li{
	width:25%;
	text-align: center;
	line-height:45px;
}
ul.vision-nav li a{
	font-family: MicrosoftYaHei;
	font-size: 16px;
	line-height: 33px;
	letter-spacing: 1px;
	color: #ffffff;
	text-decoration: none;
}
ul.vision-nav li:hover, ul.vision-nav li.active{
	background:url("../images/up-icon.png") no-repeat bottom;
}
ul.vision-nav li:hover a,ul.vision-nav li.active a{
	color: #f5c212;
}
/*=== header end ===*/
/*=== news section start ===*/
.section-news{
	padding-top: 65px;
	height:580px;
	padding-bottom: 85px;
}
.section-news .content-container{
	height:400px;
}
.news-title{
	color:#c00707;
}
.news-box{
	width:713px;
	float:left;
	padding-top: 87px;
}
.news-box.left-box{
	margin-right: 174px;
}
.news-subtitle{
	width: 118px;
	height: 38px;
	background-color: #c00707;
	font-family: MicrosoftYaHei-Bold;
	font-size: 18px;
	font-weight: bold;
	line-height: 33px;
	letter-spacing: 1px;
	color: #ffffff;
	text-align: center;
	line-height: 38px;
	margin-bottom: 52px;
}
.news-box-list, .news-box-list a{
	font-family: MicrosoftYaHei;
	font-size: 16px;
	line-height: 33px;
	letter-spacing: 1px;
	color: #00173e;
}
/*=== news section end ===*/
/*=== edu section start ===*/
.section-edu{
	padding-top:154px;
	background: url("../images/bg-section.png") no-repeat center top;
	height:700px;
	margin-top: -50px;
	background-color: #f9fafc;
}
.edu-title{
	color:#fff;
}
.edu-content{
	margin-top: 70px;
	padding:40px 40px 40px 40px;
	width: 1600px;
	height: 380px;
	background-color:#f9fafc;
	box-shadow:3px 6px 7px 5px 
		rgba(154, 152, 152, 0.4);
	border: solid 1px #e5e8eb;
}
ul#edu-nav-tabs{
	padding-inline-start:0px;
	width:100%;
}
ul#edu-nav-tabs li{
	height: 38px;
	background-color: #ffffff;
	border: solid 1px #e2e2e2;
	padding-left: 9px;
	padding-right: 9px;
	margin-right: 70px;
	text-align: center;
}
ul#edu-nav-tabs li a{
	font-family: MicrosoftYaHei-Bold;
	font-size: 18px;
	font-weight: bold;
	line-height: 33px;
	letter-spacing: 1px;
	color: #666666;
	text-decoration: none;
}
ul#edu-nav-tabs li:hover, ul#edu-nav-tabs li.active{
	background-color: #c00707;
}
ul#edu-nav-tabs li:hover a, ul#edu-nav-tabs li.active a{
	color:#fff;
}
.edu-list-box{
	width:726px;
	float:left;
	padding-top: 62px;
	font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 33px;
	letter-spacing: 1px;
	color: #00173e;
}
.edu-list-box a{
	color: #00173e;
}
.edu-list-box.left-box{
	margin-right: 55px;
}
/*=== edu section end ===*/
/*=== discussion section start ===*/
.section-discussion{
	padding-top: 80px;
	height:600px;
}
.discussion-title{
	color:#c00707;
}
.discussion-img{
	float:left;
	width:380px;
	height:380px;
	background:url("../images/section-intro.png") no-repeat center;
	margin-top:62px;
}
div.discussion-content{
	width:1170px;
	float:left;
	margin-left:38px;
	padding-top:119px;
}
div.discussion-subtitle{
	margin-bottom: 42px;
	width: 118px;
	height: 38px;
	background-color: #c00707;
	color:#fff;
	text-align: center;
	font-family: MicrosoftYaHei-Bold;
	font-size: 18px;
	font-weight: bold;
	line-height: 38px;
	letter-spacing: 1px;
}
div.discussion-list-box{
	width:562px;
	float:left;
	height: 182px;
	line-height: 33px;
}
div.discussion-list-box a, div.discussion-list-box{
	font-family: MicrosoftYaHei;
	font-size: 16px;
	letter-spacing: 1px;
	color:#00173e;
}
div.discussion-list-box.left-box{
	margin-right: 44px;
}
/*=== discussion section end ===*/
/*footer*/
.footer.red{
	background-color:#c00707;  
}
/*==================== 不忘初心牢记使命 end =====================*/

/*==================== 保密知识库 start =====================*/
/*=== header start ===*/
.banner-confidential{
	background: url("../images/bg-banner2.jpg") no-repeat center;
}
.menu-confidential{
	width:100%;
	height: 42px;
	background-color: #c00707;
}
ul.confidential-nav{
	width:100%;
	padding-inline-start:0px;
}
ul.confidential-nav li{
	width:16.6%;
	text-align: center;
	height:42px;
	line-height: 42px;
}
ul.confidential-nav li a{
	text-decoration: none;
	font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	line-height: 33px;
	letter-spacing: 1px;
	color: #ffffff;
}
ul.confidential-nav li:hover, ul.confidential-nav li.active{
	background: url("../images/up-icon.png") no-repeat bottom;
}
ul.confidential-nav li:hover a, ul.confidential-nav li.active a{
	color:#f5c212;
}
/*=== header end ===*/
/*=== 保密动态 start ===*/
.section-cnews{
	padding-top: 80px;
	height:569px;
}
div.cnews-box{
	float:left;
	width:712px;
}
div.cnews-box.left-box{
	margin-right: 175px;
}
.cnews-title{
	color:#c00707;
}
div.cnews-content{
	height:357px;
	padding-top: 86px;
}
div.cnews-subtitle{
	width: 118px;
	height: 38px;
	background-color: #c00707;
	font-family: MicrosoftYaHei-Bold;
	font-size: 18px;
	font-weight:bold;
	line-height: 33px;
	letter-spacing: 1px;
	color: #ffffff;
	line-height:38px;
	text-align: center;
}
div.cnews-box-list{
	padding-top: 53px;
	font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 33px;
	letter-spacing: 1px;
	color: #00173e;
}
div.cnews-box-list a{
	color: #00173e;
}
/*=== 保密动态 end ===*/
/*=== regu start ===*/
.section-regulations{
	padding-top: 126px;
	background: url("../images/bg-section.png") no-repeat center top;
	height:670px;
	background-size: 100% 330px;
	background-color:#f9fafc; 
}
.regulations-title{
	color:#fff;
}
div.regulations-content{
	width: 1600px;
	height: 380px;
	background-color:#f7f8fa; 
	box-shadow: 3px 3px 3px 3px 
		rgba(154, 152, 152, 0.4);
	border: solid 1px #e5e8eb;
	margin-top: 60px;
	padding:40px;
}
div.regulations-box{
	width:660px;
	float:left;

}
div.regu-subtitle{
	width: 118px;
	height: 38px;
	background-color: #c00707;
	text-align: center;
	font-family: MicrosoftYaHei-Bold;
	font-size: 18px;
	font-weight:bold;
	line-height: 38px;
	letter-spacing: 1px;
	color: #ffffff;
	margin-bottom: 59px;
}
div.regulations-box, div.regulations-box a{
	font-family: MicrosoftYaHei;
	font-size: 16px;
	line-height: 33px;
	letter-spacing: 1px;
	color: #00173e;
}
div.regulations-box.left-box{
	margin-right: 93px;
}
/*=== regu end ===*/
/*=== hot-spot start ===*/
.section-hot-spot{
	height: 612px;
	padding-top:69px;
	background: url("../images/bg-section1.png") no-repeat center;
}
.hot-spot-title{
	color:#c00707;
}
div.hp-img{
	margin-top: 60px;
	float:left;
	width: 380px;
	height: 380px;
	background: url("../images/section-intro.png") no-repeat center;
}
div.hp-content{
	float:left;
	width:1185px;
	padding-top: 120px;
	padding-left: 35px;
	padding-right: 35px;
}
.hp-subtitle{
	width: 118px;
	height: 38px;
	background-color: #c00707;
	font-family: MicrosoftYaHei-Bold;
	font-size: 18px;
	font-weight: bold;
	line-height: 38px;
	letter-spacing: 1px;
	color: #fff;
	text-align: center;
	margin-bottom:40px;
}
div.hp-list-box{
	float:left;
	width:530px;
}
div.hp-list-box, div.hp-list-box a{
	font-family: MicrosoftYaHei;
	font-size: 16px;
	line-height: 33px;
	letter-spacing: 1px;
	color: #00173e;
}
div.hp-list-box.left-box{
	margin-right: 47px;
}
/*=== hot-spot end ===*/
/*=== 保密技术， 保密宣传 ===*/
.skill-title, .publicity-title{
	color:#c00707;
}
.section-skills{
	height:580px;
	padding-top:72px;
}
.skill-content{
	padding-top: 90px;
}
.tile-box{
	width:500px;
	float:left;
	margin-right: 30px;
}
.skill-content .tile-subtitle{
	width: 118px;
	height: 38px;
	background-color: #c00707;
	font-family: MicrosoftYaHei-Bold;
	font-size: 18px;
	font-weight: bold;
	line-height: 38px;
	letter-spacing: 1px;
	color: #fff;
	text-align: center;
	margin-bottom: 80px;
}
.tile-list-box, .tile-list-box a{
	font-family: MicrosoftYaHei;
	font-size: 16px;
	line-height: 33px;
	letter-spacing: 1px;
	color: #00173e;
/*	padding:10px;*/
}
.section-publicity{
	height: 540px;
	background-color: #f4f4f6;
	padding-top: 67px;
}
.publicity-content{
	padding-top: 76px;
}
.publicity-content .tile-subtitle{
	display: inline-block;
	height: 38px;
	background-color: #c00707;
	padding:3px 10px 3px 10px;
	font-family: MicrosoftYaHei-Bold;
	font-size: 18px;
	line-height: 38px;
	letter-spacing: 1px;
	color: #fff;
	text-align: center;
	margin-bottom: 65px;
}
/*=== 保密技术， 保密宣传 end ohhh===*/
/*==================== 保密知识库 end =====================